
//Fonter för hemsidan
$frederickaTheGreat: "Fredericka the Great", serif;
$reenieBeenie: "Reenie Beanie", cursive;
$rockSalt: "Rock Salt", cursive;
$poppins: "Poppins", sans-serif;
$fraunces: "Fraunces", serif;
$syne: "Syne", sans-serif;
$bubbles: "Rubik Bubbles", system-ui;
$cube: "Rubik Glitch", system-ui;

//Färger för hemsidan #517b99
$main-color: #a07d74;
$cream-color: #85544d;
$frame-color: #FAF2EC;
$contrast-color: #5A3532;
$brown-color: rgb(24, 14, 9);

#footer {
    background-color: $main-color;
    padding: 5px;
    margin-bottom: -10px;
    margin-top: 50px;
    text-align: center;
}