h1 {
    white-space: nowrap;
    overflow: hidden;
}

.animation {
    animation: typewriter 2s steps(13) infinite alternate,
    blink 800ms steps(13) infinite normal;
    border-right: 5px solid black; 
}

@keyframes typewriter {
    from {
        width: 0%;
    }
    to {
        width: 62%;
    }
}

@keyframes blink {
    from {
        border-color: black;
    }
    to {
        border-color: transparent;
    }
    
}



.headerContent {
    background-color: rgb(218, 174, 174);
    margin-top: -22px;
    padding-bottom: 50px;
    display: flex;
}

.frame {
    width: 200px;
    border: 4px solid rgb(97, 68, 68);
    transform: rotate(-5deg);
    margin: 5px;
    margin-left: 50px;
}

.cvprofile {
    width: 200px;
    transform: rotate(5deg);
}