//Fonter för hemsidan
$frederickaTheGreat: "Fredericka the Great", serif;
$reenieBeenie: "Reenie Beanie", cursive;
$rockSalt: "Rock Salt", cursive;
$poppins: "Poppins", sans-serif;
$fraunces: "Fraunces", serif;
$syne: "Syne", sans-serif;
$bubbles: "Rubik Bubbles", system-ui;
$cube: "Rubik Glitch", system-ui;

//Färger för hemsidan #517b99
$main-color: #b3958d;
$cream-color: #85544d;
$frame-color: #FAF2EC;
$contrast-color: #5A3532;
$brown-color: rgb(24, 14, 9);

body {
    overflow-x: hidden;
}

#logo, #logo-mobile {
    width: 100px;
}



.navbar {
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
    box-sizing: border-box;

    ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: flex;
    white-space: nowrap;

    li {
        padding-right: 16px;
    }

    .navLink{
        color: $brown-color;
        display: block;
        text-align: center;
        padding: 12px 25px;
        text-decoration: none;
        font-family: $syne;
        font-weight: 400;
        position: relative;
        z-index: 1;

    }

    .active {
        background-color: lighten($main-color, 5%);
    }
}

.navLink::before {
  content: "";
  background-color: lighten($main-color, 5%);
  position: absolute;
  left: 0;
  bottom: 8px;
width: 100%;
  height: 15px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.navLink:hover::before {
  bottom: 0;
  height: 100%;
  z-index: -1;
}



    
}

.navbar-mobile {
    background-color: $main-color;
    position: relative;
    display:none;
    padding-top: 70px;
    z-index: 20;

    

ul {
    padding: 0;
    overflow: hidden;
    display: block;

    li {
        padding-right: 16px;
    }

    .navLink-mobile{
        color: $brown-color;
        display: block;
        text-align: center;
        padding: 12px 25px;
        text-decoration: none;
        font-family: $poppins;
        font-weight: 500;
        position: relative;

    }

        .active {
        background-color: lighten($main-color, 5%);
        width: 75px;;
        margin: 0 auto;
    }
}

.navLink::before, .navLink-mobile::before {
  content: "";
  background-color: lighten($main-color, 5%);
  position: absolute;
  left: 45%;
  bottom: 8px;
  width: 10%;
  height: 15px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.navLink-mobile::before {
    left: 40%;
    width: 20%;
}

.navLink:hover::before, .navLink-mobile:hover::before {
  bottom: 0;
  height: 100%;
  z-index: -1;
}

.material-symbols-outlined {
    position: fixed;
    right: 0;
    padding: 20px;
    margin-right: 30px;
}






}

@media (max-width: 800px) {
    .navbar {
        display: none;
    }

    .navbar-mobile {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;

        #logo-mobile {
            width: 80px;
            padding-left: 30px;
            margin-top: -100px;
        }

        a::before {
            width: 25%;
            left: 37.5%;
        }
    }

    .menu-icon, .close-icon {
        position: absolute;
        right: 5px;
        top: 8px;
        font-size: 2rem;
        cursor: pointer;
    }

    .mobile-menu {
        display: flex;
        margin-top: -20px;

        li {
            padding: 5px;
            text-align: center;
        }

    }
}